.container {
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-family: sans-serif;
  }
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    background-color:rgb(117, 117, 117);
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
  .site-title {
    
    font-size: 3rem;
    color: rgb(255, 255, 255);

    background-color:rgb(0, 0, 0);
    text-align: center;
  }
